.env
.env.local
.env.*.local
Untitled

__pycache__/
*.py[cod]
.pytest_cache/

node_modules/
.next/

*.db
*.sqlite
*.sqlite3

data/raw/
data/processed/

frontend-next/.next/
frontend-next/node_modules/
